{% extends "base.html" %}

{% block content %}

<form action="/cities/{{city.id}}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input value="{{city.name}}" id="name" name="name" type="text">
        <label for="visited">Visited:</label>
        <input id="visited" name="visited" type="checkbox">

        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" rows="4" cols="50">
        </textarea>
        
    </div>
    <input type="submit">
</form>

{% endblock content %}