{% extends "base.html" %}

{% block content %}

<form action="/cities" method="POST">
    <div>
        <label for="name">Name:</label>
        <input id="name" name="name" type="text">
        <label for="visited">Visited:</label>
        <input id="visited" name="visited" type="checkbox">
        

        <select name="country_id" id="country">
            {% for country in countries %}
            <option value={{country.id}}>
                {{ country.name}}
            </option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div><label for="comment">Comment:</label>
    <textarea id="comment" name="comment" rows="4" cols="50">
            </textarea></div>
    
    <input type="submit">
</form>

{% endblock %}